* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --mian-color: #015675;
  --secondary-color: #fdf8e2;
}
body {
  font-family: "Helvetica", Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  height: 100vh;
  caret-color: none;
  background-color: #eee;
}
.page-top {
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: black;
  font-size: small;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-bar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .titleh {
    display: flex;
    justify-content: center;
    p {
      font-size: 28px;
      font-weight: 800;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      align-self: center;
    }
  }
  .ul-head {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    li {
      a {
        text-decoration: none;
        font-family: monospace;
        font-size: 16px;
        transition: 0.4s ease;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        -ms-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
  }
}
.center-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  .left-part {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    color: #fff;
    p {
      font-weight: 700;
      font-size: 40px;
    }
  }
  .img-button {
    display: block;
    color: white;
    padding: 10px 150px;
    border: 3px solid;
    border-color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }
  .img-button:hover {
    border-radius: 5px;
    background-color: white;
    color: #79946c;
  }
}
.right-img {
  width: 60%;
  height: 100%;
  background-image: url("../pictures/claudio-schwarz-CYW39WvglfI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 450px) {
  body {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
  }
  .page-top {
    font-size: 12px;
    display: none;
  }
  .main-bar {
    display: none;
  }
  .center-content {
    width: 100%;
    height: 100%;
    background-image: url(/pictures/peter-chirkov-1NPxYFM17ow-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .left-part {
      width: 100%;
      p {
        font-weight: 700;
        text-shadow: black 2px 2px 4px;
        font-size: 30px;
        text-align: center;
      }
    }
    .right-img {
      display: none;
    }
    .img-button {
      color: black;
      background-color: #fff;
      font-size: 18px;
      font-weight: 900;
      padding: 10px 100px;
      border: black 3px solid;
      text-decoration: none;
      font-weight: 700;
      border-radius: 5px;
    }
    .img-button:hover {
      background-color: black;
      color: white;
    }
  }
}
@media screen and (min-width: 450px) {
  .main-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .titleh {
      height: 70px;
    }
  }
  .ul-head {
    height: 100%;
    list-style-type: none;
    li {
      a {
        padding: 5px 20px;
        color: black;
      }
    }
    li a:hover {
      background-color: black;
      color: #fff;
    }
    li.active a {
      background-color: black;
      color: #fff;
    }
  }
  .center-content {
    width: 100%;
    height: 85%;
    .left-part {
      background-color: #79946c;
    }
    .img-button {
      background-color: #79946c;
    }
  }
}
