* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --mian-color: rgb(1, 86, 117);
  --secondary-color: lightskyblue;
  --facebook: hsl(208, 92%, 53%);
  --card-bg: rgb(1, 86, 117, 0.2);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica", Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  color: #000;
  caret-color: none;
  background-color: #eee;
  caret-color: transparent;
}
.page-top {
  width: 100%;
  height: 35px;
  text-align: center;
  background-color: black;
  font-size: small;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-bar {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  .titleh {
    display: flex;
    justify-content: center;
    p {
      font-size: 28px;
      font-weight: 800;
      font-weight: bold;
      color: black;
      padding: 0px 7px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      align-self: center;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
  .ul-head {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    li {
      a {
        text-decoration: none;
        font-family: monospace;
        font-size: 16px;
        transition: 0.4s ease;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        -ms-transition: 0.4s ease;
        -o-transition: 0.4s ease;
      }
    }
  }
}
main {
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.site-nav {
  height: 45px;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 5px;
  li {
    list-style: none;
    a {
      text-decoration: none;
      font-weight: 500;
      padding: 10px 20px;
      color: black;
    }
    a:hover {
      border-bottom: 2px black solid;
    }
  }
}
.products {
  width: 80%;
  position: relative;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.category-title {
  width: 100%;
  margin: 10px 0px;
  p {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
  }
}
.p-category {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .product {
    width: 24%;
    height: 330px;
    margin-bottom: 20px;
    position: relative;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .product:hover {
    box-shadow: rgb(0, 0, 0, 0.2) 2px 2px 50px 0.2px;
  }
}
.product-img {
  width: 211px;
  height: 211px;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.brand-name {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.price {
  s {
    color: #777;
  }
}

@media screen and (max-width: 450px) {
  body {
    display: flex;
    flex-flow: row wrap;
  }
  .page-top {
    font-size: 12px;
  }
  .main-bar {
    height: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    .titleh {
      width: 100%;
      height: 70px;
    }
    .ul-head {
      width: 100%;
      flex-flow: column nowrap;
      li {
        width: 100%;
        height: 45px;
        display: block;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        padding: 5px 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        a {
          color: white;
        }
      }
      li:hover {
        font-weight: 700;
        background-color: #eee;
        border: 3px black solid;
        a {
          color: black;
        }
      }
      li.active {
        font-weight: 700;
        background-color: #eee;
        border: 3px black solid;
        a {
          color: black;
          font-weight: 700;
        }
      }
    }
  }
  .site-nav {
    display: none;
  }
  .p-category {
    .product {
      width: 100%;
    }
  }
  .category-title {
    p {
      text-align: center;
    }
  }
}
@media screen and (min-width: 450px) {
  .main-bar {
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .titleh {
      height: 100%;
    }
  }
  .ul-head {
    height: 100%;
    list-style-type: none;
    li {
      a {
        padding: 5px 20px;
        color: black;
      }
    }
    li a:hover {
      background-color: black;
      color: white;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    li.active a {
      background-color: black;
      color: white;
      font-weight: 700;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}
footer {
  width: 100%;
  height: 120px;
  background-color: var(--card-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-weight: 700;
    color: gray;
  }
}
